#main {
    background-color: #474e5d;
    height: 400px;
    padding: 30px;
    text-align: center;
}
#Btn1 {
    border: 2px solid rgb(39, 204, 44);
    background-color: rgb(39, 204, 44);
    border-radius: 20px;
    color: white;
    padding: 15px;
    cursor: pointer;
    width: 400px;
    font-size: 20px;
}
#Btn2 {
    border: 2px solid rgb(39, 204, 44);
    background-color: rgb(39, 204, 44);
    border-radius: 20px;
    color: white;
    padding: 15px;
    cursor: pointer;
    width: 400px;
    font-size: 20px;
}