<div id="main"><h1 style="color: white">
  Sign in
</h1><br/><br/><br/><br/>

<button (click)="socialSignIn('facebook')" id="Btn1" >Sign in with Facebook</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="socialSignIn('google')" id="Btn2" >Sign in with Google</button>        
</div>