#imageDiv {
    margin-left: 40%;
    width: 20%;
    height: 250px;
}
#ProfileImage {
    width: 300px;
    height: 250px;
}
#textDiv {
    margin-left: 40%;
    width: 26%;
    text-align: center;
    font-weight: normal;
}
#data {
    font-size: 16px;
}